

@{ 

    var Messgae = "江西省余干县 三塘乡";
}
@{
    if (IsPost)
    {

        var name = Request["Name"];
        var age = Request["Age"];
        <p>

            name:@name,
            age:@age
        </p>
    }

}
@{ 
    
}
@{ 
    ;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    @RenderPage("Head.cshtml")
    <div>
      <table>
          <tr>
              <td>姓名：</td>
              <td><input type="text" value="chengxinjing" /></td>
              <td>地址：@Messgae  </td>
          </tr>
          
      </table>
    </div>
    <div>
        <ul>
            @for (var i = 0; i < 10; i++)
            {
               <li>@i</li>

            }
        </ul>
    </div>
    <form method="post" action="~/my/userInfo">
      姓名：   <input  type="text" name="Name"/>
      年龄：  <input type="text" name="Age"  value="@Model.Count"/>
   
        <input type="submit" value="提交"/>
    </form>
    <div>
    
    </div>
</body>
</html>
